name: Deploy storybook icons to dev server

on:
  push:
    branches: [main]

  workflow_dispatch:
jobs:
  build:
    name: Run Pull
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ vars.SSH_HOST }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ${{ vars.WORK_DIR }}
            git remote prune origin
            git fetch origin
            git reset --hard origin/main
            docker compose -f docker/docker-compose.yml down
            docker compose -f docker/docker-compose.yml up -d
            docker system prune -f
